* {
  font-family: "Exo 2", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --grey: #4a4e55;
  --red: #270000;
  --black: #111111;
  --white: #fff;
}

body,
html {
  background-image: url(../images/bgimage2.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.search {
  display: flex;
  justify-content: left;
  padding: 20px 70px;
}

.searchBar {
  background: rgba(24, 24, 27, 0.6);
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--white);
  color: var(--white);
  margin-right: 10px;
  font-size: 22px;
  text-align: center;
}

.button {
  background: rgba(24, 24, 27, 0.6);
  height: 50px;
  width: 50px;
  border-radius: 33px;
  border: 1px solid var(--white);
  color: var(--white);
}

.button:hover {
  background-color: var(--white);
  color: var(--black);
}

.container {
  padding: 20px 70px;
  color: var(--white);
}

.current-city {
  display: flex;
  justify-content: left;
  font-size: 22px;
}
.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.date-container .time {
  font-size: 100px;
}
.date-container #am-pm {
  font-size: 60px;
}

.date-container .date {
  font-size: 30px;
}

.place-container {
  text-align: end;
}

.place-container .time-zone {
  position: fixed;
  top: 1vh;
  right: 1vw;
  font-size: 30px;
}

.place-container .country {
  font-size: 22px;
  position: fixed;
  top: 5vh;
  right: 1vw;
}

.current-info .others {
  display: flex;
  flex-direction: column;
  background: rgba(24, 24, 27, 0.6);
  padding: 20px;
  justify-content: center;
  font-size: 22px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid var(--white);
  height: 150px;
}

.current-info .others .weather-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.future-forecast {
  background: rgba(24, 24, 27, 0.6);
  padding: 35px;
  position: fixed;
  bottom: 0;
  display: flex;
  color: var(--white);
  width: 100%;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--white);
}

.future-forecast .today {
  position: fixed;
  top: 14vh;
  right: 15vw;
  width: 40vw;
  height: 30vh;
  border-radius: 10px;
  border: 1px solid var(--white);
  background: rgba(24, 24, 27, 0.6);
  text-align: center;
}

.future-forecast .today .day {
  font-size: 50px;
}

.future-forecast .today .temp {
  font-size: 30px;
}

.future-forecast .weather-forecast {
  display: flex;
}
.weather-forecast-item {
  display: block;
  padding: 20px;
  margin: 1vw;
  text-align: center;
  width: 23vw;
  border: 1px solid var(--white);
  border-radius: 10px;
}

.weather-forecast-item .day {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 30px;
}

.weather-forecast-item .temp {
  font-size: 22px;
}

@media only screen and (max-width: 730px) {
  .weather-forecast-item {
    height: 200px;
    padding: 0;
  }
  .weather-forecast-item .day {
    font-size: 18px;
  }
  .weather-forecast-item .temp {
    font-size: 14px;
  }

  .future-forecast {
    height: 275px;
  }
  .future-forecast .today {
    height: 175px;
    padding: 5px;
    margin: 0;
    top: 45vh;
    right: 30vw;
  }
  .future-forecast .today .day {
    font-size: 18px;
  }
  .future-forecast .today .temp {
    font-size: 14px;
  }
  .date-container .time {
    justify-content: center;
    text-align: center;
    font-size: 50px;
  }
  .date-container #am-pm {
    font-size: 30px;
  }
  .date-container .date {
    justify-content: center;
    text-align: center;
    font-size: 15px;
  }
  .search {
    justify-content: center;
  }

  .searchBar {
    text-align: center;
    width: 200px;
    height: 30px;
  }
  .button {
    height: 30px;
    width: 30px;
  }
  .place-container {
    display: none;
  }
  .current-info {
    padding: 10px;
    justify-content: center;
  }
  .current-info .others {
    justify-content: space-between;
    font-size: 18px;
    margin: 2px;
  }
  .current-city {
    justify-content: center;
    text-align: center;
  }
}
